<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
      <!-- Navbar content -->
      
      <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Image  Captioning</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                  <a class="nav-link" href="{{url_for('hello')}}">ImageCaptioning</a>
                  <!-- <a class="nav-link" href="">Prediction</a> -->
                
                
              </div>
            </div>
        </div>
    </nav>
    
    <!-- main section -->

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Image  Captioning</h1>
            <p class="lead text-muted">Machine learning is a branch of artificial intelligence (AI) and computer science which focuses on the use of data and algorithms to imitate the way that humans learn, gradually improving its accuracy.</p>
            
        </div>
    </section>


    <!-- Cart -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                    <div class="card-header">Image Captioning</div>
                  
                  <p class="card-text">The Flickr30k dataset has become a standard benchmark for sentence-based image description.</p>
                  <p> This paper presents Flickr30k Entities, which augments the 158k captions from Flickr30k with 244k coreference chains, linking mentions of the same entities across different captions for the same image, and associating them with 276k manually annotated bounding boxes.</p>
                  <p>Such annotations are essential for continued progress in automatic image description and grounded language understanding.</p>
                  
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  
                  <!-- <div class="card-header">Video captioning</div>
                  <p>The dataset has become a standard benchmark for sentence-based video description.</p>
                  <p class="card-text">Video Captioning is a task of automatic captioning a video by understanding the action and event in the video which can help in the retrieval of the video efficiently through text.</p>
                  <p>The task of video captioning has become very popular in recent years. With all these platforms like YouTube, Twitch, and short videos like Instagram Reels, videos have become a very important means of communication in our daily life.</p> -->
                  
                </div>
              </div>
            </div>
        </div>
    </div>

    <!--n-->
    




      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
  </body>
</html>